.pagination {
    margin: auto;
    grid-column: 1/-1;

    button {
        grid-column: 1/-1;
        padding: 25px;
        font-size: 18px;
        background: var(--secondary);
        color: var(--text);
        border: none;
        outline: none;
        margin: 20px 0;
        margin: 2px;
        padding: 20px;
        cursor: pointer;

        &:hover:not(.active) {
            background: var(--grey);
        }
    }

    .active {
        background: var(--accent);
    }
}