.container {
    margin-bottom: 100px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;

    .search-feature {
        grid-column: 1/-1;
    }
    
    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}