button {
    grid-column: 1/-1;
    padding: 25px;
    font-size: 18px;
    background: #141414;
    color: #fff;
    border: none;
    outline: none;
    margin: 20px 0;
}

.title {
    grid-column: 1/-1;
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 17px;
    }

    button {
        margin: 0;
    }
}