.data-list-item {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    height: 100%;

    h2 {
        margin: 10px 0;
    }

    @media screen and (max-width: 400px) {
        h2 {
            font-size: 18px;
        }
    }
}