* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text: #fff;
    --grey: #222222;
    --accent: #ff0000;
    --secondary: #191919;
    --primary: #171717;
}

body {
    background: var(--primary);
    scroll-behavior: smooth;
    color: var(--text);
}

a {
    color: var(--text);
    text-decoration: none;
}